.recherche {
  height: 30px;
  width: 300px;
  border: solid 1px black !important;
}

.app__search {
  display: flex;
  justify-content: flex-end;
  margin: 22px 0px;
  width: 90%;
}
.search {
  background-color: burlywood;
  font-size: 30px !important;
  color: aliceblue;
  margin-left: -3px;
  border: solid 1px black;
  border-left: transparent;
}
